<nav class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
    {{#if session.user}}
    <li class="pure-menu-item"><a class="pure-menu-link" href="/user">My Snippets</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="/snippet/create">Create a new snippet</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="/user/logout">Logout</a></li>
    {{else}}
    <li class="pure-menu-item"><a class="pure-menu-link" href="/user/login">Login</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="/user/register">Register</a></li>
    {{/if}}
  </ul>
</nav>