<!DOCTYPE html>
<html>
  <head>
    <title>Snippet Application</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    {{>header}}
    <main>
    {{{body}}}
    </main>
    {{> footer}}
  </body>
</html>