<form class="pure-form pure-form-stacked" action="/user/login" method="POST">
  <fieldset>
  <legend>Login Form</legend>
    <label for="username">Username:</label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button class="pure-button pure-button-primary" type="submit">Login</button>

  <fieldset>

</form>