<h2>Projects</h2>
<p>Choose a project</p>
<div class="container">
{{#each projects}}
<div class="container">
<h4>{{owner.name}}</h4>
<p><a href="/dashboard/{{id}}">{{name}}</a></p>
</div>
{{/each}}
</div>