<h2>Dashboard Real-Time Issues</h2>

<script src='/socket.io/socket.io.js'></script> 
<script src='/static/issuenotifier.js'></script>

<div class="row">
  <div class="column" id="col_issues">
    <h3>All Issues</h3>
    <div id="issues">
    {{#each issues}}
    {{>issue}}
    {{/each}}
    </div>
  </div>
  <div class="column" id="col_notifications">
    <h3>Notifications</h3>
      <div id="notifications">

      </div>
  </div>
</div>

