<h2>Dashboard Real-Time Issues</h2>

<script src='/socket.io/socket.io.js'></script> 
<script>
/**
 * Issue Notifier.
 *
 * @author Kevin Cederholm
 * @version 1.0.0
 */

'use strict'

const socket = io()

function debugData(data) {
  console.log(data)
   document.getElementById('notifications').innerText += data.object_kind + '<br>'
}

socket.on('issue_comment', debugData)
socket.on('issue_opened', debugData)
socket.on('issue_closed', debugData)
socket.on('issue_reopen', debugData)
socket.on('issue_update', debugData)

</script>

<div class="row">
  <div class="column" id="col_issues">
    <h3>All Issues</h3>
    <div id="issues">
    {{#each issues}}
    {{>issue}}
    {{/each}}
    </div>
  </div>
  <div class="column" id="col_notifications">
    <h3>Notifications</h3>
      <div id="notifications">
        
      </div>
  </div>
</div>

