<h2>Dashboard Real-Time Issues</h2>


<div class="row">
  <div class="column">
    <h3>All Issues</h3>
    {{#each issues}}
    {{>issue}}
    {{/each}}
  </div>
  <div class="column">
    <h3>Notifications</h3>

  </div>
</div>

