<h2>Dashboard Real-Time Issues</h2>

<script src='/socket.io/socket.io.js'></script> 
<script>
/**
 * Issue Notifier.
 *
 * @author Kevin Cederholm
 * @version 1.0.0
 */

'use strict'

const socket = io()

function addNotification(issueId, action, user) {
  document.getElementById('notifications').innerHTML +=
  `<div class="notification"> \
  <div>Action: ${action}</div> \
  <div>User: ${user}</div>\
  </div>`


  // document.getElementById(`issue-${issueId}`).appendChild(`<span class="notify">1</span>`)
}
socket.on('issue_comment', function (data) {
  addNotification(data.object_attributes.project_id ,'New Comment', data.user.username)
  // Handle the comment

})
socket.on('issue_opened', function (data) {
  addNotification(data.object_attributes.project_id ,'New Issue', data.user.username)
  // Handle the new issue
  // Add issue to issues.

})
socket.on('issue_closed', function (data) {
  addNotification(data.object_attributes.project_id ,'Issue Closed', data.user.username)
  // Handle the issue closed

})
socket.on('issue_reopen',  function (data) {
  addNotification(data.object_attributes.project_id ,'Issue Reopened', data.user.username)
  // Handle the issue reopen
  // Re-add issue to issues and add notify

})
socket.on('issue_update', function (data) {
  addNotification(data.object_attributes.project_id ,'Issue Updated', data.user.username)
  // Handle the issue update
  // Create notify of update and red marker on issue?

})

</script>

<div class="row">
  <div class="column" id="col_issues">
    <h3>All Issues</h3>
    <div id="issues">
    {{#each issues}}
    {{>issue}}
    {{/each}}
    </div>
  </div>
  <div class="column" id="col_notifications">
    <h3>Notifications</h3>
      <div id="notifications">

      </div>
  </div>
</div>

