<form class="pure-form pure-form-stacked" action="/user/register" method="POST">

  <fieldset>
    <legend>Register Form</legend>
    <label for="username">Username:</label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="password">Password Repeat:</label>
    <input type="password" placeholder="Enter Password again" name="passwordrepeat" required>

    <button class="pure-button pure-button-primary" type="submit">Register</button>
  </fieldset>
</form>