<form action="/snippet/create" method="POST">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Title.." name="title">
    <br>
<textarea name="snippetbody">
</textarea>
<br>
    <label for="tags"><b>tags (separate with commas)</b></label>
    <input type="text" placeholder="tags" name="tags">
    <br>
<input type="submit" value="Create New Snippet">
</form>